# OS X
.DS_Store

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
.buildpath

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
builds/
[Bb]in/
[Oo]bj/
gen/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~